<div>
    <div style="float: left" class="imagen">
        <img src="assets/img/yo.jpg" class="foto" alt="Una foto mía.">
    </div>

    <div class="texto">
        <p class="info">Mi nombre es <strong>Alexis Francisco Amézquita Almonte</strong>, nací el 16 de septiembre del año 2002
        en República Dominicana.</p>
        
        <p class="estudios" >Terminé mis estudios de bachiller de Matemática y tecnología, hice un curso de manejo del paquete de Office 
        en INFOTEP y actualmente soy estudiante en el ITLA como Desarrollador de Software.</p>

        <p class="hobbies">Mis <strong>hobbies</strong> son jugar videojuegos, el baloncesto y la programación.</p> 

        <p class="direccion"><strong>Dirección</strong> <br>
            Respaldo Abreu #4, Bayona. Santo Domingo Oeste
        </p>

        <p class="contacto"><strong>Contacto</strong> <br>
            Correo: Alexisfco10@gmail.com <br>
            Teléfono: 809-442-6755
        </p>

        <p class="redes"><strong>Redes sociales:</strong> </p>

        <a href="https://github.com/Alexisfco10" target="_blank" class="github"><img src="assets/img/iconos/github.png" width="64px" height="auto"/></a>
        <a href="https://www.linkedin.com/in/alexis-francisco-am%C3%A9zquita-almonte-1930a5202/" target="_blank" class="linkedin"><img src="assets/img/iconos/linkedin.png" width="64px" height="auto"></a>
        <a href="https://www.instagram.com/alexis_fco10/" target="_blank" class="instagram"><img src="assets/img/iconos/instagram.png" width="64px" height="auto"/></a>
        <a href="https://twitter.com/Alexisfco10" target="_blank" class="twitter"><img src="assets/img/iconos/twitter.png" width="64px" height="auto"/></a>

    </div>
    
    
</div>